* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
body {
    background-color: #000;
}
.parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 200px;
    align-content: center;
}
.logo {
    width: 30px;
    height: 30px;
    background-image: url("elements/logo.png");
    background-size: cover;
    cursor: pointer;
}
.nav ul li {
    display: inline-block;
    margin: 0 5px;
}
.nav ul li a {
    text-decoration: none;
    color : #fff;
}

.parent .nav-bar {
    display: none;
}

.body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.body h1 {
    text-transform: uppercase;
    margin: 5px;
    margin-top: 50px;
    color: #fff;
    
}
.body p {
    color: #fff;
    margin: 10px;
    width: 90%;
}
.body button {
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-weight: bold;
    color: #222;
}
img {
    width: 150px;
}
.choose {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 100px;
}
.choose button {
    background-color: transparent;
    border: none;
    margin: 5px;
    color: #fff;
}
.choose button .choose-img {
    width: 20px;
    transition-duration: 0.4s;
}
.choose button .choose-img:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 375px) {
    .nav ul {
        display: none;
    }

    .parent .nav-bar {
        display: inline-block;
        color: #fff; 
        margin: 5px 0;   
    }
}